body,
html {
  margin: 0;
  padding: 0;
}

@import "scss/header";
@import "scss/ilgstpeja";
@import "scss/jaunumi";
@import "scss/landingpage";
@import "scss/parmums";
@import "scss/produkti";
@import "scss/uzturklase";
@import "scss/breakpoints";
@import "fonti/fonti";

.wrapper {
  max-width: 1490px + (80 * 2);
  margin: auto;
  box-sizing: border-box;
}
