@font-face {
  font-family: PhantomItalicBlack;
  src: url(fonti/AnyConv.com__Panton-BlackitalicCaps.ttf);
}

@font-face {
  font-family: PhantomBlack;
  src: url(fonti/AnyConv.com__Panton-BlackCaps.ttf);
}
@font-face {
  font-family: PhantomLight;
  src: url(fonti/AnyConv.com__Panton-LightCaps.ttf);
}
@font-face {
  font-family: PhantomItalicLight;
  src: url(fonti/AnyConv.com__Panton-LightItalicCaps.ttf);
}
